<!DOCTYPE html>
<html>
<head>
  <title>Reamaze</title>
  <%= stylesheet_link_tag    "reamaze/application", media: "all" %>
  <%= javascript_include_tag "reamaze/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
